.big-card {
    width: 40vw;
    height: 20vh;
    border: 2px solid black;
    display: grid;
    grid-template-columns: 20% 80%;
}
.big-card img {
    width: 80%;
    height: 35%;
    padding: 0 10px;
    border-radius: 50%;
}
.div-imagem {
    display: flex ;
    flex-direction: column;
    justify-content: center;
}

